name: wake-api-test

on:
  push:
    path-ignore:
      - '**.md'
      - 'LICENSE'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: 'Init Wit Workspace'
        uses: sifive/wit/actions/init@v0.13.2
        with:
          additional_packages: git@github.com:sifive/environment-blockci-sifive.git::0.7.1

      - name: 'Run Wake API Test'
        uses: sifive/environment-blockci-sifive/actions/shell@0.7.1
        with:
          command: openocdcfg-generator/tests/test-wake-api.sh

      - name: 'Run generator install test'
        uses: sifive/environment-blockci-sifive/actions/shell@0.7.1
        with:
          command: openocdcfg-generator/tests/test-wake-install.sh
